<ion-content>
  <div class="img_wrapper">
    <img src="../../assets/thank you-01.png" width="100%" alt="thank you">
  </div>
  <div class="text-1-cls">For Visiting our Store.</div>
  <div class="text-2-cls">
    <div>In publishing and graphics design</div>
    <div>a placeholder text commondemonstrate the</div>
  </div>
  <div class="close_btn_wrapper">
    <p>Thank you for your feedback.</p>
    <ion-button (click)="exitApp()" expand="block" color="danger">Close</ion-button>
  </div>
</ion-content>