.img_wrapper {
    position: relative;
}

.text-1-cls {
    position: absolute;
    top: 26%;
    left: 37%;
    font-size: 10px;
    color: #ab9c9c;
}

.text-2-cls {
    position: absolute;
    top: 40%;
    right: 28%;
    font-size: 10px;
    color: #ab9c9c;
    text-align: center;
}

.close_btn_wrapper {
    text-align: center;
}

ion-button {
    --border-radius: 50px;
}

.close_btn_wrapper {
    position: absolute;
    bottom: 25%;
    left: 25%;
}