<ion-content [fullscreen]="true">
  <ion-icon name="close-outline" class="close-icon"></ion-icon>
  <div class="review_app_heading">
    <h1>Review App/ Feedback</h1>
  </div>
  <div class="smily_cls_wrapper">
    <div class="smily_face_cls_all">
      <div class="space-left"></div>
      <div class="smily_face_cls" [routerLink]="['/reviews']">
        <img src="../../assets/smily face-01.png" alt="smily">
      </div>
      <div class="space-right"></div>
    </div>
    <h3>Satisfied</h3>
  </div>
  <div class="smily_cls_wrapper">
    <div class="smily_face_cls_all">
      <div class="space-left"></div>
      <div class="smily_face_cls">
        <img src="../../assets/sad face-01.png" alt="sad">
      </div>
      <div class="space-right"></div>
    </div>
    <h3>Unsatisfied</h3>
  </div>

</ion-content>